/* Global */
body {
  background: linear-gradient(90deg, #f3f3f3 0%, #e3e1e1 100%);
  margin: 0;
  padding: 0;
  color: #303030;
}

h1,
h2,
h3,
span,
p {
  color: #303030;
}

:placeholder {
  color: #dbdbdb;
}

.btn,
.btn:hover,
.btn:focus,
input,
input:focus,
.form-control:focus {
  border-radius: 0;
  box-shadow: none;
}

/* NavBar */
.nav-container {
  width: 95vw;
  margin: 0 2.5vw;
  display: flex;
}

.logo {
  font-size: 2.25rem;
}

.nav-item {
  font-size: 1.125rem;
  color: #303030;
}

.sign-up-btn {
  font-size: 1.125rem;
  color: #303030;
  background-color: #5bbd6b;
}

.sign-up-btn:hover {
  background-color: #41ab4b;
}

/* Home */
.home-container {
  margin: 10vh 25vw;
}

.home-container > h1 {
  font-size: 2.25rem;
}

.btn-search {
  background-color: #f4e772;
  font-size: 1.125rem;
}

.btn-search:hover {
  background-color: #d6ca5c;
}

.form-search {
  border-left: none;
  border-color: #dbdbdb;
  padding: 20px;
  font-size: 1.125rem;
}

.form-search::placeholder,
.search-icon {
  color: #dbdbdb;
  font-weight: bold;
  font-size: 1.125rem;
}

.btn-search:focus,
.form-search:focus {
  border-color: #dbdbdb;
}

.search-icon {
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
  border-right: none;
  padding: 0 0 0 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Home Description */
.home-description {
  margin-bottom: 20vh;
}
.home-description h3 {
  font-size: 3rem;
}

.home-description span {
  font-size: 2.125rem;
}

/* Packages */

/* Footer */
.footer-container {
  background-color: #303030;
  color: #ffffff;
  padding: 50px 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.5rem;
}

.footer-container ul {
  font-size: 1.125rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* User Form */
.form-container {
  margin: 0 25vw;
  padding: 10vh 2.5vw;
}

.user-form .text-center {
  font-size: 2rem;
}

.user-form sub {
  display: flex;
  justify-content: center;
}

.user-form button {
  background-color: #357be5;
}

.user-form button:hover,
.user-form .switch-form:hover {
  box-shadow: none;
  text-decoration: none;
  background-color: #276acf;
}
